# dhcpd.conf

# private DHCP options
option cumulus-provision-url code 239 = text;

default-lease-time 600;
max-lease-time 7200;

authoritative;

#  IPv4 OOB management subnet for the data center `DE` `Berlin`
subnet 192.168.1.0 netmask 255.255.255.0 {
  range 192.168.1.129 192.168.1.254;
  option domain-name-servers 192.168.1.1;
  option domain-name "de.karnet.com";
  option routers 192.168.1.1;
  option broadcast-address 192.168.1.255;
}

# IPv4 OOB // Fixed lease
host de-bln-leaf-111 {
  hardware ethernet 52:54:00:06:02:00;
  fixed-address 192.168.1.21;
  option host-name "de-bln-leaf-111";
  option cumulus-provision-url "http://192.168.1.1/cumulus-ztp.sh";
}

