#!/bin/bash

# CUMULUS-AUTOPROVISIONING

sleep 5

# Removing DNS server config over global routing and snmp on localhost
net del dns nameserver ipv4 {% for device in get_devices.json.results %}{% if device.site.slug == 'bln' and 'infra-srv' in device.name %}{{ device.primary_ip4.address | ipaddr('address') }}{% endif %}{% endfor %}
net del snmp-server listening-address localhost

net commit

sleep 5

net add vrf mgmt
net add time zone 
net add dns nameserver ipv4 {% for device in get_devices.json.results %}{% if device.site.slug == 'bln' and 'infra-srv' in device.name %}{{ device.primary_ip4.address | ipaddr('address') }}{% endif %}{% endfor %} vrf mgmt
net add routing route {{ docker.private_network.subnet }} {% for device in get_devices.json.results %}{% if device.site.slug == 'bln' and 'infra-srv' in device.name %}{{ device.primary_ip6.address | ipaddr('address') }}{% endif %}{% endfor %} vrf mgmt
net commit

sleep 5

echo action(type="omfwd" Target="{% for device in get_devices.json.results %}{% if device.site.slug == 'bln' and 'infra-srv' in device.name %}{{ device.primary_ip4.address | ipaddr('address') }}{% endif %}{% endfor %}" Template="RSYSLOG_SyslogProtocol23Format" Device="mgmt" Port="514" Protocol="udp") > /etc/rsyslog.d/11-remotesyslog.conf

adduser aaa --disabled-password --gecos "Network Admin User Account"
adduser aaa sudo
echo "aaa:aaa" | chpasswd

exit 0

