$TTL 86400

@ IN SOA {% for device in get_devices.json.results %}{% if device.site.slug == 'bln' and 'infra-srv' in device.name %}{{ device.name }}{% endif %}{% endfor %}.{{ domain_name }}.	root.{{ domain_name }}. (
  100
  3600
  900
  604800
  86400
)
; NS entries
          IN      NS      {% for device in get_devices.json.results %}{% if device.site.slug == 'bln' and 'infra-srv' in device.name %}{{ device.name }}{% endif %}{% endfor %}.{{ domain_name }}.
; PTR entries
{% for ip_prefix in get_all_ip_prefixes.json.results %}{# f-001: looping all prefixes #}
{% if ip_prefix.site.slug == 'bln' and ip_prefix.role.slug == 'oob-management' and ip_prefix.family.value == 6 %}{# i-001: matching OOB subent for Berlin #}
{% for device_all_ips in get_all_ip.results %}{# f-002: list all IPs from all devices #}
{% for device_ip in device_all_ips.json.results %}{# f-003: list all IPs per device #}
{% if device_ip.address | ipaddr('network') == ip_prefix.prefix | ipaddr('network') %}{# i-002: matching proper interfaces #}
{{ (device_ip.address | ipaddr('revdns')) }}	IN	PTR	{{ device_ip.interface.device.name }}.{{ domain_name }}. 
{% endif %}{# i-002: matching proper interfaces #}
{% endfor %}{# f-003: list all IPs per device #}
{% endfor %}{# f-002: list all IPs from all devices #}
{% endif %}{# i-001: matching OOB subent for Berlin #}
{% endfor %}{# f-001: looping all prefixes #}
