# This is a default site configuration which will simply return 404, preventing
# chance access to any other virtualhost.

server {
	listen 80 default_server;
	listen [::]:80 default_server;
        server_name dcf-http.de.karnet.com;

	# Everything is a 404
	location / {
	        root /var/www/html/website;
        	index index.html;
	}

	# You may need this to prevent return 404 recursion.
	location = /404.html {
		internal;
	}
}
